<div class="box">
  <!--投稿詳細ページ-->
  <div class="posts-index index" id="posts-index">
    <%= render @posts %>
  </div>

  <!-- 新規投稿フォーム -->
  <div class="add-form" id="add-form">
    <%= render 'create', post: Post.new, value: 'ADD' %>
  </div>

</div>
  